/*  Home Page  */
#blurb {
    font-size: 2.75rem;
    margin: 15% 2rem 2.5rem 6%;
}

#titles {
    font-family: "Geostar Fill", serif;
    font-size: 2rem;
    margin-left: 6%;
    color: #6E68BB;
    padding-bottom: 12%;
}
/*  About Section  */
#about{
    padding: 4rem 0 6rem 0;
    background-color: #020B31;
    font-size: 2rem;
}

#coffee{
    width:25rem;
    transform: rotate(20deg);
    position: absolute;
    top:54rem;
    transition: .3s;
}

#coffee:hover{ 
    transform: rotate(20deg) 
    translateX(.5rem) 
    translateY(-.5rem);
}

.about-head{
    font-family: "Geostar Fill", serif;
    font-size: 3rem;
    color: #6E68BB;
    text-align: center;
    position: relative;
    left: 10rem;
}

.description{
    width: 35%;
    text-align: right;
    position: relative;
    top: 1rem;
    left: 35rem;
    padding-bottom: 3rem;
}

#sticker{
    width:13rem;
    transform: rotate(-15deg);
    position: absolute;
    top:54rem;
    right:8rem;
    transition: .3s;
}

#sticker:hover{
    transform: rotate(-15deg)
    translateX(-.5rem) 
    translateY(-.5rem);
}

#jack {
    width: 10rem;
    transform: rotate(10deg);
    position: absolute;
    top:75rem;
    right: 5rem;
    transition: .3s;
}

#jack:hover{
    transform: rotate(10deg)
    translateX(-.5rem) 
    translateY(-.5rem);
}

@media screen and (max-width: 1300px) {
    .about-head{
        left:auto;
    }
    #coffee{
        visibility: hidden;
    }
    .description {
        left:auto;
        width:auto;
        padding: 1rem;
      }
    #sticker{
        visibility: hidden;
    }
    #jack{
        visibility: hidden;
    }
  }

/* Projects Section */
#projects{
    padding: 4rem 2rem 6rem 2rem;
    background-color: #07030C;
    font-size: 2rem;
}
.head{
    font-family: "Geostar Fill", serif;
    font-size: 3rem;
    color: #6E68BB;
}
.project-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
    grid-gap: 2rem;
    margin-top: 4rem;
}
.project{
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.project img{
    width:20rem;
    border-radius: 1rem;
    display: block;
    transition: .3s;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#71592B);
    border-radius: 1rem;
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: height .5s;
}
.layer h3{
    margin: .5rem;
}
.layer p{
    font-size: 1.3rem;
    margin: 1rem;
}
.layer a{
    font-family: "Geostar Fill", serif;
    font-size: 1.3rem;
    text-decoration:none;
    color: #A6AEDB;
}
.tag{
    background-color:#320808;
    text-align: center;
    font-size: 1rem;
    border-radius: .25rem;
    margin: .2rem;
    padding:.3rem;
}
.back-end{
    background-color:#320808;
}
.front-end{
    background-color:#2A042F;
}
.UI{
    background-color:#0B280A;
}
.project:hover img{
    transform: scale(1.1);
}
.project:hover .layer{
    height: 100%;
}

/* Contact Section */
#contact{
    background-color: #150640;
}