/*  home page  */
#blurb {
    font-size: 2.75rem;
    margin: 15% 2rem 2.5rem 6%;
}

#titles {
    font-family: "Geostar Fill", serif;
    font-size: 2rem;
    margin-left: 6%;
    color: #6E68BB;
}
/*  about section  */
#about{
    padding: 3rem 0;
}