/* general style */
body {
    font-family:"Economica", serif;
    color:#A6AEDB;
    background-color: #07030C;
}

/* header style */
#header {
    padding: 1.5rem 0 2rem 0;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-width: .05rem;
    border-bottom-color: #A6AEDB;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.title-logo {
    float:left;
}
 .title-logo a img {
    width: 7rem;
 }

.section-navigation {
    float:right;
}

.section-navigation ul {
    list-style-type: none;
    margin: 0;
}

.section-navigation ul li {
    display: inline;
    padding: 0 1rem;
}

.section-navigation ul li a{
    color: #A6AEDB;
    text-decoration: none;
    position: relative;
}

.section-navigation ul li a::after{
    content: '';
    width: 0;
    height: 0.1rem;
    background: #6E68BB;
    left: 0;
    bottom: -0.3rem;
    position: absolute;
    transition: 0.5s;
}

.section-navigation ul li a:hover::after{
    width:100%;
}

@media screen and (max-width: 500px) {
    .title-logo {
      float: none;
      display: block;
      text-align: left;
    }
    
    .section-navigation {
      float: none;
    }
  }
